<!DOCTYPE html>
<html>
<head>
    <title>Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>🌍 Language Translator</h2>

    <textarea id="text" placeholder="Enter text..."></textarea>

    <select id="language">
        <option value="hi">Hindi</option>
        <option value="fr">French</option>
        <option value="es">Spanish</option>
        <option value="de">German</option>
    </select>

    <button onclick="translateText()">Translate</button>

    <h3>Result:</h3>
    <p id="result"></p>
</div>

<script>
function translateText() {
    let text = document.getElementById("text").value;
    let target = document.getElementById("language").value;

    fetch("/translate", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            text: text,
            target: target
        })
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("result").innerText = data.translated_text;
    });
}
</script>

</body>
</html>