<!DOCTYPE html>
<html>
<head>
    <title>Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Language Translator</h2>

    <form method="POST">
        <textarea name="text" placeholder="Enter text"></textarea>

        <br>

        <select name="source">
            <option value="en">English</option>
            <option value="hi">Hindi</option>
            <option value="te">Telugu</option>
        </select>

        <select name="target">
            <option value="hi">Hindi</option>
            <option value="en">English</option>
            <option value="te">Telugu</option>
        </select>

        <br><br>

        <button type="submit">Translate</button>
    </form>

    <h3>Output:</h3>
    <textarea readonly>{{ translated_text }}</textarea>
</div>

</body>
</html>